/* Put your CSS here */
.ember-application {
    margin: 0px 0px 0px;
    padding: 0px;
}

body {
  font-size:14px;
  font-family: "Arial";
}

/* ITALIC PANIC */
/*
h1,h2,h3,h4,h5,h6,span,p {
  font-style: italic;
}
*/
body, html {
  height: 100%; 
  width: 100%;
  overflow: hidden;
}

.n-full-size {
  height: 100%;
  width: 100%;
}

.scfaceon {
	background-color: #CCC;
	float: right;
	margin-right: 7px;
	width: 52px;
	height: 30px;

	border-radius: 0px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;	
}

.scgireoff {
	background-color: gray;
	float: right;
	margin-right: 7px;
	width: 52px;
	height: 30px;
	padding-left: -3px;

	border-radius: 0px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	border-top: 1px solid #999;
	border-left: 1px solid #999;
}

.sccontent {
	background-color: #CCC;
	width: 300px;
	height: 370px;
	clear: both;

	padding-top: 14px;

	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;	
}

.scmessages {
	background-color: white;
	margin-right: 14px;
	margin-left: 14px;
	margin-bottom: 7px;
	width: 272px;
	height: 302px;

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.sctextfield {
	background-color: white;
	margin-right: 14px;
	margin-left: 14px;	
	margin-top: 14px;
	margin-bottom: 7px;
	width: 272px;
	height: 25px;

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.scinernalshadow {
	width: 100%;
	height: 100%;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
}

.scinternallight {
	width: 100%;
	height: 100%;
	border-top: 1px solid white;
	border-left: 1px solid white;	
}

.sctoppadding {
	width: 100%;
	height: 100%;
}

.scmessage {
	padding: 3px;
	background-color: #FEFEFE;
	margin: 3px;
}
.scmessage-pc {
	padding: 3px;
	text-align: right;
	background-color: #FEFEFE;
	margin: 3px;
}

.scnotif {
	background-color: #CCC;
	width: 300px;
	height: 70px;
	clear: both;

	margin-top: 330px;

	border-radius: 5px;

	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;	
}



.scvista {
	width: 300px;
	height: 400px;
}
.scright {
	float: right;
}

a {
	color: #FF8524; //#FF7519;
}

.scnotiftop {
	height: 15px;
	padding-top: 0px;
}

.scoptions {
	padding: 5px;
	padding-left: 10px;
}